{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}

<div class="jumbotron">
<h2 class="display-4">Administration</h2>
<p class="lead">Bienvenue sur la page d'administration de Chargether</p>
</div>

{% endblock %}
