{% extends 'base.html.twig' %}

{% block title %}Reservations - Chargether{% endblock %}

{% block specific_javascript %}
    <script src="https://kit.fontawesome.com/47e5d2715e.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

    <header class="bg-primary d-flex justify-content-center mb-4">
        <h4 class="text-white my-3">
            Réservations
        </h4>
    </header>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active col-6" id="nav-1-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Mes locations </button>
            <button class="nav-link col-6" id="nav-2-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Ma borne</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            {% include './booking/_booking-made.html.twig' %}
        </div>

        <div class="tab-pane fade show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
            {% include './booking/_booking-at-current-user.html.twig' %}
        </div>
    </div>

{% endblock %}
