{% extends 'base.html.twig' %}

{% block title %}Reservations - Chargether{% endblock %}

{% block specific_javascript %}
	<script src="https://kit.fontawesome.com/47e5d2715e.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

	<header class="bg-primary d-flex justify-content-center">
		<h4 class="text-white my-3">
			<a href="{{ path('app_profil_hote') }}" class="btn btn-primary" role="button" data-bs-toggle="button">
				<i class="bi bi-arrow-left-circle-fill"></i>
			</a>
			Réservation
		</h4>
	</header>

coucou index

{% endblock %}
