{% extends 'base.html.twig' %}

{% block title %}Communauté - Chargether{% endblock %}

{% block body %}

 <header class="bg-primary d-flex justify-content-center">
		<h4 class="text-white my-3">
        <a href="{{ path('app_profil_index') }}" class="text-white fs-1 col-1 ps-3"><i class="bi bi-arrow-left-circle-fill"></i></a>
        <h2 class="text-white my-3">
            Communauté
        </h2>
    </header>

	<main class="container-fluid">
     <img src="/images/logo.png" class="card-img-top" " alt="...">
		<section class="row">
			<div class="d-flex flex-column align-items-center ">
				<h1>Site en Maintenance</h1>
				<p>La Page que vous rechercher n'a pas été trouvée</p>
			</div>
		</section>
	</main>


{% endblock %}
