{% extends 'base.html.twig' %}

{% block title %}Contact - Chargether{% endblock %}

{% block body %}
    <header class="bg-primary d-flex justify-content-center mb-4">
        <h4 class="text-white my-3">
            Communauté
        </h4>
    </header>
    <main class="h-100">
        <div id='main-contact' class="container-fluid h-100 d-flex flex-column justify-content-center align-items-center">
            <h1>Coming Soon...</h1>
            <p>La Page que vous rechercher n'a pas été trouvée</p>
            <p>Cette Fonctionnalité sera bientôt disponible.</p>
        </div>
    </main>

{% endblock %}
