.selected {
    position: relative;

    img {
        filter: brightness(0) saturate(100%) invert(27%) sepia(94%) saturate(5966%) hue-rotate(137deg) brightness(95%) contrast(94%);
    }

    i {
        font-size: 5rem;
        position: absolute;
        top: -10%;
        right:18%;

    }
}

#background-video {
    height: 110vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: -30px;
    bottom: 0;
    z-index: -1;
}

.station-info {
    z-index: 1000;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border: 2px solid $secondary;
    border-bottom: 0;
}

.notification-alert {
    top: 5px;
}

#start-navigation {
    z-index: 1000;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

#nav-1-tab.active, #nav-2-tab.active {
    background-color: $secondary !important;
    color: $white;
}

.vich-image img {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 100%;
}

#main-contact {
    background: url("/public/images/logo_opacity.png");
    background-repeat: no-repeat;
    background-position: center;
}
