.selected {
    position: relative;

    i {
        font-size: 5rem;
        position: absolute;
        top: -10%;
        right:18%;

    }
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

