{% extends 'base.html.twig' %}

{% block title %}Contact - Chargether{% endblock %}

{% block body %}
	<section class="h-100 position-relative d-flex flex-column justify-content-between">

		<header class="bg-primary d-flex justify-content-center">
			<h1 class="text-white my-3">
				Contact
			</h1>
		</header>

		<div class="d-flex flex-column align-items-center">
			<h1>
				Pour nous contacter</h1>
			<h1>contact@chargether.com</h1>
		</div>

		{% include 'components/_navbar.html.twig' %}
	</section>

{% endblock %}
