{% extends 'base.html.twig' %}

{% block title %}Contact - Chargether{% endblock %}

{% block body %}

    {% include 'components/_header.html.twig' with { 'title': 'Contact', 'route': 'app_profil_index' } %}

    <main class="h-100">
        <div id='main-contact' class="container-fluid h-100 d-flex flex-column justify-content-center align-items-center">
            <h4>Pour nous contacter</h4>
            <h1>contact@chargether.com</h1>
        </div>
    </main>

    {% include 'components/_navbar.html.twig' %}

{% endblock %}
