<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Félicitation la location de votre borne sur Chargether est terminée</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Vous pouvez retrouver toutes les informations sur votre page profil</p>
    </div>
</div>
