<h1>Activez votre compte</h1>
<p>Bonjour,
	{{ user.firstName }}</p>
<p>Votre Inscription sur le Site de
	<strong>CHARGETHER</strong>
	est à valider, en cliquant sur le lien ci-dessous :</p>
<p>
	<a href="">Lien</a>
</p>
<p>Ce lien expirera dans 3 heures.</p>
