<h1>Activez votre compte</h1>
<p>Bonjour,
	{{ user.firstname }}</p>
<p>Votre Inscription sur le Site de
	<strong>CHARGETHER</strong>
	est à valider, en cliquant sur le lien ci-dessous :</p>
<p>
	{{ link }}
</p>
<p>Ce lien expirera dans 3 heures.</p>
