{% block specific_stylesheet %}
{% endblock %}

{% block specific_javascript %}
{% endblock %}

<section class="h-100 position-relative d-flex flex-column">
    <div id="map" style="height: 100%"></div>
    <i id='geoloc-target' class="bi bi-bullseye position-absolute text-secondary pb-3" style="font-size: 40px"></i>
</section>
