<section class="h-100 position-relative d-flex flex-column">
    <div id="map" style="height: 100%" data-google_api_key="{{ googleApiKey }}"></div>
    <i id='geoloc-target' class="bi bi-bullseye position-absolute text-secondary pb-3" style="font-size: 40px"></i>
</section>
