<section class="">
    <nav class="navbar bg-primary">
        <ul class="navbar-nav flex-row justify-content-around w-100">
            <li class="nav-item">
                <a class="text-decoration-none d-flex flex-column gap-1 align-items-center link-light" href="{{ path
                    ('app_home')
                }}"><i
                        class="bi bi-map-fill fs-2"></i><span class="fs-6">Carte</span></a>
            </li>
            <li class="nav-item">
                <a class="text-decoration-none d-flex flex-column gap-1 align-items-center link-light" href="#"><i class="bi bi-bookmark-fill fs-2"></i><span class="fs-6">Réservations</span></a>
            </li>
            <li class="nav-item">
                <a class="text-decoration-none d-flex flex-column gap-1 align-items-center link-light" href="#"><i class="bi bi-people-fill fs-2"></i><span class="fs-6">Communauté</span></a>
            </li>
            <li class="nav-item">
                <a class="text-decoration-none d-flex flex-column gap-1 align-items-center link-light" href="{{ path
                    ('app_profil_index')
                }}"><i
                        class="bi bi-person-fill fs-2"></i><span class="fs-6">Profil</span></a>
            </li>
        </ul>
    </nav>
</section>
